.banner{
  
  height: 50dvh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
  
}

.banner__content{
  text-align: center;
  position: relative;
  /* z-index: 1; */
}

.banner__image{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background-image: url("images/KameHouse_small.png");
  /* background-size: 100px; */
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 10px;

  /*width: 100px;;*/
  /* min-width: 200px;
  max-width: 300px; */
  /* height: auto; */
}

@media (width > 750px) {
  .banner__image{
    background-image: url("images/KameHouse_medium.png");
  }
}

@media (width > 975px) {
  .banner__image{
    background-image: url("images/KameHouse_large3.png");
  }
}

.cita{
  padding: 1rem 0.5rem 1rem 0.5rem ;
  font-family:monospace;
  font-weight: bold;
  font-size: 0.8rem;

}

.firma{
  text-align: rigth;
  font-style: italic;
  font-size: 0.8rem;
  color: rgb(7, 46, 154);
}