.header{
  min-height: 200px;
  max-height: 200px;

  text-align: center;
  background: var(--fondo-header-footer);
  background: radial-gradient(circle, rgba(199,247,124,1) 0%, rgba(114,222,70,1) 59%, rgba(92,201,47,1) 99%);
}

.header__container{
  /* align-items: center; */
  padding: 2%;
}


.header__container .avatar{
  border:solid whitesmoke;
  border-radius: 50%;
  width: 200px;
  max-width: 200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 0px 35px 7px var(--sombra-avatar);
}

.header__container .burguer{
  position:absolute;
  left:1rem;
  top:11rem;
  padding-bottom: 20px;
  z-index: 10;
  transform: scale(1.5);
}

.navigation ul{
  display:none;
}


ol{
  /* display: flex; */
  text-align: left;
  display: none;
  padding-top: 0.5rem;
}

ol li{
  background: var(--fondo-skills);
  background: linear-gradient(90deg, rgba(199,247,124,1) 0%, rgba(92,201,47,1) 99%);
  /* background-color: aquamarine; */
  justify-content: left;
  font-size: 1rem;
  border-radius: 10px;
  margin: 0.1rem;
  padding: 0.3rem;
}
ol li:hover{
  background: yellowgreen;
}


input:checked  ~ ol{
  display:block;
  /* background-color: aquamarine;  */
}

input:checked  ~ i{
  background-color: brown;
}


#menu{
  display:none;
}





@media (width > 1000px) {

  .header{
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    min-height: 175px;
    max-height: 175px;
    z-index: 1;
  }
  

  .header__container{
   display:flex;
   justify-content:space-between;
   align-items: center;
   flex-wrap:nowrap;
   padding-top: 0.5rem ;
  }
  
  .header__container h1{
    margin: 0 auto 0 auto;
    text-align: center;
  }

  .header__container .avatar{
    border:solid whitesmoke;
    border-radius: 10%;
    width: 125px;
    max-width: 125px;
    margin: 0 1.5rem 0 auto;
    padding: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 28px 20px var(--sombra-avatar);
  }

  .navigation{
    margin: 0;
    /* margin: 0 auto 0 0; */
    /* padding: 0 auto 0 0; */
  }

  .navigation ul{
    display: inline-block;
  }
  .navigation ul li{
    display: inline-block;
    font-size: 1.5rem;
  }

  .navigation ul li a{
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 5px;
  }

  .navigation ul li a:hover{
    background-color: var(--color-items);
    transition: all 0.4s linear;
  }

  .burguer{
    display:none;
  }
}